[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/orville/Desktop/NAS-mount.desktop]
row=7
col=0

[/home/orville/Desktop/to_run_commonly.txt]
row=8
col=0

[/home/orville/Desktop/start-tor-browser.desktop]
row=3
col=0

[/home/orville/Desktop/openvpn-ipv6-antileak.desktop]
row=6
col=0

[/home/orville/Desktop/temp-newcomp]
row=0
col=3

[Trash]
row=0
col=0

[/]
row=2
col=0

[/home/orville]
row=1
col=0

